<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- vue.js -->
<script src="./scripts/vue.js"></script>

<script type="text/javascript">
  $(function(){
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello!"
      }
    })

    var app2 = new Vue({
      el: "#app-2",
      data:{
        message: 'You loaded this page on ' + new Date().toLocaleString()
      }
    })

    var app3 = new Vue({
      el: "#app-3",
      data: {
        seen: true
      }
    })

    var app4 = new Vue({
      el: "#app-4",
      data: {
        todos: [
          {text: "learn js"},
          {text: "learn vue"},
          {text: "build something awsome"}
        ]
      }
    })

    var app5 = new Vue({
      el: "#app-5",
      data: {
        message: "hello Vue!"
      },
      methods: {
        reverseMessage: function(){
          this.message = this.message.split("").reverse().join("")
        }
      }
    })

    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue!'
      }
    })

    // todo-itemと呼ばれる新しいコンポーネントを定義
    Vue.component("todo-item",{
      props: ["todo"],
      template: "<li>{{todo.text}}</li>"
    })

    var app7 = new Vue({
      el: "#app-7",
      data: {
        groceryList: [
          { id: 0, text: 'Vegetables' },
          { id: 1, text: 'Cheese' },
          { id: 2, text: 'Whatever else humans are supposed to eat' }
        ]
      }
    })


  })
</script>

<title>hello vue</title>
</head>
<body>

<div id="app">
  {{message}}
</div>

<hr>

<!-- 宣言的レンダリング -->
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<hr>

<!-- 条件分岐とループ -->
<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>

<hr>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{todo.text}}
    </li>
  </ol>
</div>

<hr>

<!-- ユーザー入力と制御 -->
<div id="app-5">
  <p>{{message}}</p>
  <button type="button" v-on:click="reverseMessage">reverse message</button>
</div>

<hr>

<div id="app-6">
  <p>{{message}}</p>
  <input v-model="message">
</div>

<!-- コンポーネントによる構成 -->
<div id="app-7">
  <!-- groceryListの各itemをtodoに与える -->
  <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
</div>

</body>
</html>
